.footer_container .footer_bg {
    background-color: #212121;
}

.footer_container .foot_top_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    box-sizing: border-box;
    border-bottom: 1.5px solid rgba(80,93,113,.502);
}

footer .foot_top_row .top_cnt {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
}