header .header_container .header_top_list {
    display: flex;
    justify-content: flex-end;
    align-items: default;
    gap: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #f8f4f4;
}

@media (min-width: 1281px) and (max-width: 1399px) {
    header .header_container {
        padding: 0 25px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    header .header_container {
        padding: 0 25px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 320px) and (max-width: 767px) {

}